**ASSIGNMENT 1**

In [ ]:
#LIST

# creating a list 
colours = ['red', 'green', 'yellow', 'blue']

# accessing elements
print(colours[0])  
print(colours[2])

# adding elements to list
colours.append('purple')
print(colours)

# insert the elements at specific position 
colours.insert(2, 'magenta')
print(colours)

# removing the elements from list
colours.remove('yellow')
print(colours)

# list sclicing
print(colours[1:3]) 
print(colours[:2])  
print(colours[2:])

#TUPLE

# creating the tuple
food = ('biryani', 'chocolate', 'tacos', 'wok')

# accessing the elements in tuple
print(food[0])
print(food[2])

# sclicing tuples
print(food[1:3]) 
print(food[:2])  
print(food[2:])

# coverting tuple to list
my_foodlist = list(food)
print(my_foodlist)

# length of the tuple
print(len(food))

#SET

# creating a set
numbers = {1, 2, 3, 4, 5}

# adding elements to the set
numbers.add(6)
print(numbers) 
# adding mutiple values at a time 
numbers.update([7, 8, 9])
print(numbers)

# removing elements
numbers.remove(5)
print(numbers)

# popping a random element
print(numbers.pop())
print(numbers)

# converting the list to set
my_list_of_numbers = [1, 2, 3, 3, 4, 4, 5]
number_Set = set(my_list_of_numbers)
print(number_Set)

#DICTIONARY

# creating the dictionary
my_dict = {'Brand': 'Toyota', 'Style': "Prado", 'Model Year': 2015}

# accessing the elements with keys
print(my_dict['Brand']) 
print(my_dict['Style'])

# modifying the values
my_dict['Model Year'] = 2016
print(my_dict)

# adding the new elements to dictionary
my_dict['Style'] = 'Yaris'
print(my_dict)

# removing the elements
print(my_dict.pop('Style'))
print(my_dict)

# coverting the lists to dictionary
keys = ['Brand', 'Style', 'Model Year']
values = ['Audi', 'Q series', 2020]
my_dict = dict(zip(keys, values))
print(my_dict)

red
yellow
['red', 'green', 'yellow', 'blue', 'purple']
['red', 'green', 'magenta', 'yellow', 'blue', 'purple']
['red', 'green', 'magenta', 'blue', 'purple']
['green', 'magenta']
['red', 'green']
['magenta', 'blue', 'purple']
biryani
tacos
('chocolate', 'tacos')
('biryani', 'chocolate')
('tacos', 'wok')
['biryani', 'chocolate', 'tacos', 'wok']
4
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 6, 7, 8, 9}
1
{2, 3, 4, 6, 7, 8, 9}
{1, 2, 3, 4, 5}
Toyota
Prado
{'Brand': 'Toyota', 'Style': 'Prado', 'Model Year': 2016}
{'Brand': 'Toyota', 'Style': 'Yaris', 'Model Year': 2016}
Yaris
{'Brand': 'Toyota', 'Model Year': 2016}
{'Brand': 'Audi', 'Style': 'Q series', 'Model Year': 2020}

**ASSIGNMENT 2**

In [ ]:
with open('a.txt', 'w') as file:
    file.write("Hello there !\nI am Riddhi Goswami.")
    file.close()

#  Read a file and printing the data 
with open('a.txt', 'r') as file:
    content = file.read()
    print(content)

# appending a new line to existing file "a.txt"
with open('a.txt', 'a') as file:
    file.write('\nAdding a new line')
with open('a.txt', 'r') as file:
    content = file.read()
    print(content)

Hello there !
I am Riddhi Goswami.
Hello there !
I am Riddhi Goswami.
Adding a new line

**ASSIGNMENT 3**

In [ ]:
with open('calculator_output.txt', 'w') as file:

    num1 = float(input('Enter the first number: '))
    num2 = float(input('Enter the second number: '))
    op = input('Enter the operation (+, -, *, / , //): ')


    if op == '+':
        result = num1 + num2
    elif op == '-':
        result = num1 - num2
    elif op == '*':
        result = num1 * num2
    elif op == '/':
        result = num1 / num2
    elif op == '//':
        result = num1 // num2
    else:
        print('Invalid operator')
        result = None

    if result is not None:
        file.write(f"{num1} {op} {num2} = {result}")
        print(f"{num1} {op} {num2} = {result}")

Enter the first number: 10
Enter the second number: 20
Enter the operation (+, -, *, / , //): -
10.0 - 20.0 = -10.0